{{ define "main" }}
<style> .main { padding:0px !important; }</style>

<div style="background: url(/img/washingmachine/7.webp); background-repeat: no-repeat;
background-size: cover;" class="banner row row-cols-lg-2 row-cols-1 gy-3 align-items-center">
    <div>
        <h1>Keeping households running smoothly with appliances in top shape</h1>
        <p>We can help you with any problems you have with your appliances. We have parts and technicians to make sure your appliances are working well.</p>
        <a class="btn btn-primary" href="/posts/">Read Appliance Posts</a>
    </div>
    <div class="row row-cols-6 gy-5 align-items-center">
        <img src="/img/appliance-logos/bosch.webp" alt="Bosch appliances logo">
        <img src="/img/appliance-logos/panasonic.webp" alt="Panasonic logo for appliance repair services">
        <img src="/img/appliance-logos/whirlpool.webp" alt="whirlpool appliance brand logo">
        <img src="/img/appliance-logos/ge.webp" alt="GE appliances logo">
        <img src="/img/appliance-logos/maytag.webp" alt="maytag appliance logo">
        <img src="/img/appliance-logos/ariston.webp" alt="artiston appliance branding">
        <img src="/img/appliance-logos/asko.webp" alt="asko household appliances logo">
        <img src="/img/appliance-logos/classique.webp" alt="classique logo for appliances">
        <img src="/img/appliance-logos/delonghi.webp" alt="delonghi appliance logo">
        <img src="/img/appliance-logos/nilfisk.webp" alt="nilfisk logo for appliance">
        <img src="/img/appliance-logos/westinghouse.webp" alt="westinghouse logo appliance">
        <img src="/img/appliance-logos/simpson.webp" alt="simpson logo appliance">
    </div>
    
</div>
<div class="container">
    <div class="row row-cols-lg-2 row-cols-1 gy-3 align-items-center">
        <img src="/img/washingmachine/3.webp" alt="Someone maintaining a washing machine household appliance">
        <div>
            <h1>Appliance maintenance, guidance and issue diagnosis</h1>
            <p>We can help you take care of your appliances so they run well and you don't need to worry. Our experts will answer your questions and help you fix any problems. We work quickly so you can get back to your regular routine.</p>
            <a href="/categories/appliance-overviews" class="btn btn-secondary">Appliance Reviews & Diagrams</a>
        </div>
    </div>
    <div class="row row-cols-lg-2 row-cols-1 gy-3 align-items-center">
        <div class="col gy-5">
            <h1>Appliance repair technicians</h1>
            <p>We can help you fix your broken appliances! Our appliance repair experts located across dozens of cities and five plus countries are trained to work with all types of models, and we make sure the repairs are done quickly and at a good price.</p>
            <a href="/pages/appliance-parts-suppliers/" class="btn btn-secondary">Hire Appliance Repair Technician</a>
        </div>
        <img src="/img/repair/1.webp" alt="an appliance repair technician on the job fixing a washing machine in New Zealand">
    </div>
    <div class="row row-cols-lg-2 row-cols-1 gy-3 align-items-center">
        <img src="/img/applianceparts/1.webp" alt="An appliance repair technician who ordered appliance parts to install and fix a dryer">
        <div>
            <h1>Appliance parts supply</h1>
            <p>If you need parts to fix your appliances like a washing machine, fridge, or dishwasher, we can help! We have connections with the parts you need and our free guides can show you how to use them. We have appliance parts from the best brands and good prices.</p>    
            <a href="/pages/appliance-parts-suppliers/" class="btn btn-secondary">Find Appliance Parts</a>
        </div>
    </div>
    <div class="row row-cols-lg-2 row-cols-1 gy-3 align-items-center">
        <div class="col gy-5">
            <h1>Appliance rental companies</h1>
            <p>Looking for short or long term rental appliances? we'll connect you with appliance rental companies in your area.</p>
            <a href="/pages/appliance-rental/" class="btn btn-secondary">Rent an Appliance</a>
        </div>
        <img src="/img/dryer/6.webp" alt="an appliance repair technician on the job fixing a washing machine in New Zealand">
    </div>
    <div class="row row-cols-lg-2 row-cols-1 gy-3 align-items-center">
        <img src="/img/christchurch/41.webp" alt="Areas where we offer appliance parts and provide services diagnosing and repairing issues">
        <div>
            <h1>Servicing regions in New Zealand, Australia, United States, United Kingdom, and now Nigeria!</h1>
            <p>Our business offers appliance repair services and parts for five countries and counting: New Zealand, Australia, United States, United Kingdom, and Nigeria.</p>    
        </div>
    </div>
</div>
{{ end }}

